## Creating Data Frame

In [ ]:


import pandas as pd
import numpy as np

In [2]:
import warnings
warnings.filterwarnings('ignore')

#### Creating Series

In [3]:
my_series=pd.Series([11,12,13,14])

In [4]:
my_series

0    11
1    12
2    13
3    14
dtype: int64

#### Converting series to list

In [5]:
print(my_series.tolist)

<bound method IndexOpsMixin.tolist of 0    11
1    12
2    13
3    14
dtype: int64>

#### Creating empty data frame

In [6]:
my_df=pd.DataFrame()

In [7]:
my_df

Empty DataFrame
Columns: []
Index: []

#### Data Frame using list

In [8]:
Scores=[['Maths',29],['English',31],['History',35],['Physics',33]]

In [9]:
Scores

[['Maths', 29], ['English', 31], ['History', 35], ['Physics', 33]]

In [10]:
df1=pd.DataFrame(Scores, columns=['Subject',"Mark"])

In [11]:
df1

   Subject  Mark
0    Maths    29
1  English    31
2  History    35
3  Physics    33

#### Data frame using dictionaries

In [13]:
Scores={'Subject':['Maths', 'History', 'Arts'], 'Scores':[98,75,68]}

In [14]:
Scores

{'Subject': ['Maths', 'History', 'Arts'], 'Scores': [98, 75, 68]}

#### Data frame using list of dictionaries

In [15]:
Scores=[{"Subject":"Maths", "Score":85},{"Subject":"History", "Score":78},{"Subject":"Arts", "Score":68}]

In [16]:
Scores

[{'Subject': 'Maths', 'Score': 85},
 {'Subject': 'History', 'Score': 78},
 {'Subject': 'Arts', 'Score': 68}]